*.aux
*.log
LA_Figures/
*.out
*.ilg
*.ind
*.toc
*.idx
*.bbl
*.blg
*.synctex
*.gz
*.dep
*.listing
*Activities.tex
*Exercises.tex
*Project.tex
*.synctex(busy)

output/html
output/subset
output/latex/external
output/subset-*
output/pdf
generated-assets/
LA_main_Intro_F20.pdf
original-latex/