:root{
  --documenttitle: #0032A0;
  --highlighttoc: var(--documenttitle);
}

:target {
  /* -webkit-animation: target-fade 10s 1;
  -moz-animation: target-fade 10s 1; */
}

@-webkit-keyframes target-fade {
  /* 0% { background-color: rgba(120,0,120,.3); }
  100% { background-color: inherit;
         opacity: 1; } */
}
@-moz-keyframes target-fade {
  /* 0% { background-color: rgba(120,0,120,.3); }
  100% { background-color: inherit;
         opacity: 1; } */
}

.pretext-content figcaption {
  font-family: "PT Serif", "Times New Roman", Times, serif;
  text-align: center;
}